<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzuwang.dao.mapper.ApiUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanzuwang.dao.dos.ApiUserDO">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="age" property="age" />
        <result column="memo" property="memo" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="wechat_open_id" property="wechatOpenId" />
        <result column="alipay_user_id" property="alipayUserId" />
    </resultMap>
    <resultMap id="UserBillMap" type="com.shanzuwang.bean.req.bill.ApiUserbillReq">
        <result column="company_name" property="companyName" />
        <result column="phone" property="phone" />
        <result column="user_name" property="userName" />
        <result column="real_name" property="realName" />
        <result column="nick_name" property="nickName" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="create_time" property="createTime" />
        <result column="wechat_open_id" property="wechatOpenId" />
        <result column="alipay_user_id" property="alipayUserId" />
        <result column="invoice_status" property="invoiceStatus"/>
        <result column="deadline" property="deadline"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, user_name, real_name, nick_name, email, avatar, gender, birthday, age, memo, status, last_login_time, create_time, modify_time, wechat_open_id, alipay_user_id
    </sql>
    
    <select id="ListUserbill" resultMap="UserBillMap" parameterType="com.shanzuwang.bean.req.bill.ApiUserbillReq">
        SELECT a.*,c.`company_name` FROM `api_user` a
        INNER JOIN  `bill`  b ON a.`id`=b.`user_id`
        LEFT JOIN  `risk_info` c ON a.`id`=c.`user_id`
        WHERE 1=1
      <if test="apiUserbillReq.companyName !=null and apiUserbillReq.companyName != ''">
         AND (c.company_name LIKE CONCAT('%',#{apiUserbillReq.companyName},'%')
      </if>
      <if test="apiUserbillReq.phone !=null and apiUserbillReq.phone != ''">
          OR a.phone LIKE CONCAT('%',#{apiUserbillReq.phone},'%')
      </if>
        )
        GROUP BY a.`id`
    </select>

</mapper>
