<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzuwang.dao.mapper.AssignmentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanzuwang.dao.dos.AssignmentDO">
        <id column="type" property="type" />
        <result column="actor_id" property="actorId" />
        <result column="target_id" property="targetId" />
        <result column="role_id" property="roleId" />
        <result column="property" property="property" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type, actor_id, target_id, role_id, property
    </sql>

</mapper>
