<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzuwang.dao.mapper.CaseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanzuwang.dao.dos.CaseDO">
        <id column="id" property="id" />
        <result column="company" property="company" />
        <result column="company_logo" property="companyLogo" />
        <result column="images" property="images" />
        <result column="title" property="title" />
        <result column="rent_type" property="rentType" />
        <result column="tag" property="tag" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="desc" property="desc" />
        <result column="extra" property="extra" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company, company_logo, images, title, rent_type, tag, start_date, end_date, desc, extra, created_at, updated_at
    </sql>

</mapper>
