<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzuwang.dao.mapper.CronJobDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanzuwang.dao.dos.CronJobDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="active" property="active" />
        <result column="model" property="model" />
        <result column="function" property="function" />
        <result column="args" property="args" />
        <result column="cron_type" property="cronType" />
        <result column="cron_value" property="cronValue" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, active, model, function, args, cron_type, cron_value, start_time, end_time, created_at, updated_at
    </sql>

</mapper>
