<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanzuwang.dao.mapper.ProductPropertyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shanzuwang.dao.dos.ProductPropertyDO">
        <id column="type" property="type" />
        <result column="actor_id" property="actorId" />
        <result column="target_id" property="targetId" />
        <result column="value" property="value" />
    </resultMap>

    <resultMap id="ProductPropertyDTO" type="com.shanzuwang.bean.dto.ProductPropertyDTO">
        <id column="type" property="type" />
        <result column="actor_id" property="actorId" />
        <result column="target_id" property="targetId" />
        <result column="val" property="val" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type, actor_id, target_id, value
    </sql>

    <select id="findList" resultMap="ProductPropertyDTO" parameterType="INTEGER">
        SELECT p.actor_id,b.`id`,b.`name`,p.target_id,b.type,p.value AS val FROM product_property p
        LEFT JOIN  property b ON p.target_id=b.`id`
        <if test="ew.emptyOfWhere==false">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
